<%= link_to 'Back to Main', root_path, class: 'text-blue-700 underline' %>
<h1 class="text-red bg-slate-600">rooms</h1>
<ul>
  <% @rooms.each do |room| %>
    <li>
      <%= link_to room.name, room_path(room) %>
    </li>
  <% end %>
</ul>